My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        144
      ],
      "id": "38289ce0-a7d4-4b51-83bd-e9590e293207",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "BUeXiry2coVJ6Elz",
          "mode": "list",
          "cachedResultName": "MYDATATABLE",
          "cachedResultUrl": "/projects/ddchj034Lx1nJN6G/datatables/BUeXiry2coVJ6Elz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.pubDate }}",
            "news": "={{ $json['content:encodedSnippet'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "news",
              "displayName": "news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        256,
        144
      ],
      "id": "6f9a587c-2463-41db-85cb-76f6479b95aa",
      "name": "Insert row"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -224
      ],
      "id": "42bf7cf6-395d-4309-a442-6ebacbf7168b",
      "name": "tech-it-news"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -16
      ],
      "id": "6dd3c7c5-1cbf-445a-bd61-269f15d2527f",
      "name": "droidsans"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        224
      ],
      "id": "8a4742a5-a122-4035-a5a2-f8c06c775bd3",
      "name": "srtet"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        416
      ],
      "id": "905a4684-203a-44e8-869f-e09859a633f9",
      "name": "nso"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "tech-it-news",
            "type": "main",
            "index": 0
          },
          {
            "node": "droidsans",
            "type": "main",
            "index": 0
          },
          {
            "node": "srtet",
            "type": "main",
            "index": 0
          },
          {
            "node": "nso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tech-it-news": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "droidsans": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "srtet": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nso": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84c9cdbd-dc1a-4b76-9e3f-a3e201af8318",
  "meta": {
    "instanceId": "2baa571bb8641b7f670e94dbf377423bee6ed6e782e625b40ee59d7cb0dad849"
  },
  "id": "NgFo4uyLvMnEZCJL",
  "tags": []
}